header{
  background-color: gainsboro;
  grid-area: cabecalho;
}

aside{
  background-color: bisque;
  grid-area: lado-esquerdo;
}

main{
  background-color: goldenrod;
  grid-area: principal;
}

footer{
  background-color: brown;
  grid-area: rodape;
}