*{
  margin: 0;
}

html,
body,
#root{
  height: 100%;
}

#root{
  display: grid;  
  grid-template-areas:
  'cabecalho cabecalho'
  'lado-esquerdo principal'
  'rodape rodape';

  grid-template-rows:  64px 1fr 64px;
  grid-template-columns: 245px 1fr;
}
